# Default ignored files
/shelf/
/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# 라이브러리 무시
/node_modules
/vueapp/node_modules/
# 빌드된 파일 무시
/public/
# db 정보
/db/db_config.json